.list-items li{
    margin-top:10px;
    font-size:larger;
    font-family: sans-serif;
    color: rgb(166, 0, 86);
}

.list-items li span{
   font-size:larger;
   font-family: sans-serif;
   color:rgb(24, 97, 161);
   padding:10px;
}